.idea
./__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
.DS_Store
*/*/*/data
*/*/*/exp
./pretrained

*.o
*.obj

*.a

*.so

*.dll

*.exe
*.out
*.bin

**/build/
**/third_party/
**/cmake-build-debug/
**/out/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio Code
.vscode/
# CLion
.idea/
# Xcode
*.xcodeproj
*.xcworkspace

*.swp
*~
**/onnx_runtime/
**/exp/
**/__pycache__/

*.ckpt
CKPT.yaml
*.scp
*.ark

egs/cnceleb/sv-cam++/cn-celeb_v2.tar.gz
egs/cnceleb/sv-cam++/cn-celeb2_v2.tar.gzab
egs/cnceleb/sv-cam++/cn-celeb2_v2.tar.gzaa
egs/cnceleb/sv-cam++/cn-celeb2_v2.tar.gzac
egs/cnceleb/sv-cam++/wget-log.1
